#main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: url("assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#image {
  width: 500px;
}

#txt-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

#txt-container h5 {
  font-size: 1rem;
  font-weight: lighter;
  color: #8e8e8e;
}

#txt-container h3 {
  font-size: 3rem;
  font-weight: bolder;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  #image {
    width: 400px;
  }

  #txt-container h5 {
    font-size: 0.8rem;
  }

  #txt-container h3 {
    font-size: 2rem;
  }
}

/* Phone */
@media only screen and (max-width: 425px) {
  #image {
    width: 300px;
  }

  #txt-container h5 {
    font-size: 0.6rem;
  }

  #txt-container h3 {
    font-size: 1.5rem;
  }
}
